.container{
    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}
.container > *{
    border: 2px solid black;
}
.sidebar{
    display: grid;
    grid-column: 1/2;
    padding: 20px;
    padding-right: 50px;
    background-color: blue;
    color: white;
    grid-row: 1 / -1;
}
.sidebar ul{
    display: grid;
    /* grid-column: 1/2; */
    list-style: none;
    padding: 0;
    gap: 10px
}
.header{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.main{
    grid-column: 2/5;
    display: grid;
}
.cards{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-start: 2;
    grid-column-end: 4;
}
.left{
    display: grid;
    grid-template-columns: 1fr 1fr;
}







.searchbar{
    border: 2px black solid;
}
