:root{
    font-family: sans-serif;
}
.container{
    display: grid;
    grid-template-columns: auto 4fr;
}
.sidebar{
    grid-column: 1/2;
    background-color: #1b81cc;
    color: white;
    height: 100vh;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    font-weight: 900;
    gap: 20px
}
.sidebar ul{
    list-style: none;
    padding: 0px;
    display: grid;
}
