:root{
    font-family: sans-serif;
}
.container{
    display: grid;
    grid-template-columns: auto 4fr;
}
.sidebar{
    grid-column: 1/2;
    background-color: #1b81cc;
    color: white;
    height: 100vh;
    padding: 30px;
    padding-right: 60px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    font-weight: 900;
    gap: 20px;
}
.sidebar ul{
    list-style: none;
    padding: 0px;
    display: grid;
    grid-template-rows: repeat(8, auto) 1fr;
    gap: 10px;
}
.sidebar h3{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 4px;
}
.sidebar h3 img{
    width: 30px;
    height: 30px;
}
.sidebar ul li{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}
.sidebar ul li img {
    width: 20px;
    height: 20px;
  }

.main{
    display: grid;
    grid-template-rows: auto 5fr;
}
.header{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-row: 1/2;
    height: 100px;
    /* gap: 20px; */
  }
.top{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 60px auto auto;
    /* max-height: 30px; */
    align-items: center;
}
.searchbar{
    background-color: rgb(220, 220, 220);
    border-radius: 15px;
    width: 40vw;
    height: 30px;
}
.top>*{
    /* border: 2px solid red; */
    display: grid;
    align-items: center;
}
.top >* img{
    max-height: 30px;
    max-width: 30px;
}
.rightSide{
    display: grid;
    grid-template-columns: repeat(3,auto);
}
.magnify{
    justify-self: end;
}
.magnify img{
    height:  30px;
    width: 30px;
}
.bottom{
    display: grid;
    grid-row: 2/3;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}
.leftBottom{
    display: grid;
    grid-template-columns: 90px 1fr;
}
.leftBottom >*{
    border: 2px solid black;
}
.pfpBottom{
    display: grid;
    align-items: center;
    justify-self: end;
}
.leftBottom >* img{
    height: 45px;
    width: 45px;
}
.rightBottom{
    display: grid;
    grid-template-columns: auto auto auto;
}
.buttons button{
    background-color:#1b81cc;
    color: white;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid white;
}